# Python
.venv/
__pycache__/
*.pyc
venv/
env/
*.py[cod]
*.pyo
*.pyd

# RAG artifacts / cache
data/*.npy
data/*.joblib
data/*.csv
data/*.txt
logs/
data/cache_*.json

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
